<div class = "messaging uk-grid">
    <div class = "conversations">
        <div class = "header">
            <h1>Beszélgetések</h1>
            <h2 class = "unread-num">Olvasatlanok száma: <%= current_user.unread_inbox_count %></h2>
        </div>
        
        <div class = "inbox">
        <dl class = "uk-description-list uk-description-list-divider">
        <% @conversations.each do |conversation| %>
            <dt class = "inbox">
                <% if conversation.is_unread?(current_user) %><b><% end %>
                <%= link_to (conversation.participants - [current_user])[0].username,
                            conversation_path(conversation), remote: true %>
                <% if conversation.is_unread?(current_user) %></b><% end %>
            </dt>
            <dd>
                <%= conversation.subject %>
            </dd>
        <% end %>
        </dl>
        </div>
        
        <%= link_to "Új beszélgetés", new_conversation_path, class: 'new-conversation-link uk-button uk-button-default', remote: true %>
    </div>

    <div class = "chat" id = "current_conversation">
    
    </div>

    <div class = "profile-details">

    </div>
</div>
