<h3> Termékeim: </h3>
<table style="width:30%"> 
    <% has_goods = false %>
    <% @goods.each do |g| %>
        <% if g.seller_id == current_user.id%>
            <% has_goods = true %>
            <tr>        
                <td><%= link_to g.name, {action: 'good_show', id: g.id} %></td>
            </tr>
        <% end %>    
    <% end %>
</table>
<% if has_goods == false %>
    <div> Jelenleg nem árulsz semmit </div>
<% end %>