<h3>Név: <%= @user.username %></h3>
<h3>Szobaszám: <%= @user.roomnumber %></h3>
<h3><%= link_to "Üzenet küldése", new_conversation_path(:recipient_id => @user.id), remote: true %></h3>
<div id="current_conversation"></div>