<h1 align = "center"> E-schop </h1>

<h3>Név: <%= @user.username %> </h3>
<h3>Szobaszám: <%= @user.roomnumber %> </h3>
<h3> (Üzenet küldése) </h3>
<div> <%=link_to "Vissza", {:action => 'my_goods', :controller => 'users'} %> </div>
