<% if !current_user.nil? && !@goods.blank? %>
  <% unless Purchase.with_deleted.where(buyer_id: current_user.id).blank? %>
      <h3><%= link_to 'Neked ajánlott', {action: 'for_u'} %></h3>
      <% favourite = favourite_category %>
      <% idx = 0 %>
<div uk-slider class="uk-slider uk-slider-container" center="0" finite="1">
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-4@m uk-grid">
      <% @goods.each do |g| %>
        <% if idx < 8 && g.category_id == favourite && g.seller_id != current_user.id %>
            <% idx += 1 %>
                        <li>
                             <%=render partial: 'goods/listelement', object: g%>
                        </li>                   
        <% end %>      
      <% end %>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
  <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
</div>
  <% end %>
<% end %>
<hr class="uk-divider-icon">