<% if !current_user.nil? && !@recommendtaions.blank? %>
  <h3><%= link_to 'Neked ajánlott', {action: 'for_u'} %></h3>
  <%=render partial:"slider", object:@recommendtaions%>
  <hr class="uk-divider-icon">
<% end %>