<% if @goods.blank? %>
  <p> Nincs termék. </p>
<% else %>
  <table>
    <% @goods.each do |g| %>
      <tr>
        <td><%= link_to g.name, good_path(g) %></td>
        <td>
          <% if g.photo.attached? %>
            <p><%= image_tag g.thumb_list%></p>
          <% else %>
            <% product = Product.find_by_id(g.product_id) %>
            <% if product.photo.attached? %>
              <p><%= image_tag product.thumb_list%></p>
            <% end %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </table> 
<% end %>
