<% if list.blank? %>
    <h2 align='center'> Nincs termék. </h2>
<% else %>

<script>


function OpenModal()
{
     element= document.getElementById("modal-"+event.target.id.split('-')[1]);
     element.style.visibility="visible";
     UIkit.modal(element).show();
}

function removeDuplicateModals()
{
    modals=($(".uk-modal"));
    
    filtered = []
     for (let i = 0; i < modals.length; i++) {
    in_filtered=false
         for (let j = 0; j < filtered.length; j++) 
         {
            if(filtered[j].id==modals[i].id)
            {
               in_filtered=true
            }

         }
    if (!in_filtered){filtered.push(modals[i])}
    else{modals[i].remove()}
     }
     for (let i = 0; i < filtered.length; i++) 
     {
         document.body.appendChild(filtered[i]);
     }
}

 $(document).ready(function(){

    removeDuplicateModals();
    links=($(".modal-link"));
    for (let i = 0; i < links.length; i++) {
       link=links[i];
       id=link.id.split('-')[1]
      link.addEventListener("click", function(){
          OpenModal();
        });
    }
  });
</script>

<% conversation = false if local_assigns[:conversation].nil? %>

<% if conversation %>
    <h3 align = "left" style = "padding-left: 3%;"> Néhány termék: </h3>
    <div uk-scrollspy="target: > a; cls: uk-animation-scale-up; delay: 10; repeat:true;" class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@m uk-text-center uk-padding-large uk-padding-remove-top" uk-grid>
        <% list.each do |g| %>
        
            <%=render partial: 'goods/listelement', object: g%>
            
        <% end %>
    </div>
<% else %>
    
    <div uk-scrollspy="target: > a; cls: uk-animation-scale-up; delay: 10; repeat:true;" class="uk-grid-small uk-child-width-1-2 uk-child-width-1-6@m uk-text-center" uk-grid>
    <% list.each do |g| %>
     
        <%=render partial: 'goods/listelement', object: g%>
        
    <% end %>
</div>
<% end %>

<% end %>