<% if list.blank? %>
  <p> Nincs termék. </p>
<% else %>
  
<div class="uk-grid-small uk-child-width-1-2 uk-child-width-1-6@m uk-text-center" uk-grid>
    <% list.each do |g| %>
     
          <%=render partial: 'goods/listelement', object: g%>
        
    <% end %>
</div>
<% end %>