<% if @goods.blank? %>
  <p> Nincs termék. </p>
<% else %>
  <table>
    <% @goods.each do |g| %>
      <tr>
       <%=render partial: 'listelement', object: g%>
      </tr>
    <% end %>
  </table> 
<% end %>
