<%= link_to url_for(listelement), class: "uk-link-reset" do %>
  <div class="uk-card uk-card-default uk-card-hover uk-border-rounded">
    <div class="uk-card-media-top">
      <%= image_tag get_image(listelement,"list"), class: "uk-border-rounded"%>
    </div>
    <div class="uk-card-body uk-padding-small">
      <span class="uk-badge" ><%= listelement.price%> Ft</span>
      <div> <%= listelement.name %> </div>
    </div>
  </div>
<% end %>