    <div uk-slider class="uk-slider uk-slider-container" center="0" finite="true">
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-4@m uk-grid">
          <% slider.each do |g| %>
              <li>
                <%=render partial: 'goods/listelement', object: g%>
              </li>                   
          <% end %>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
