<script>
function encodeHTML(s) {
    return s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;');
}
document.addEventListener("turbolinks:load",function(){
    const index_input=$("#index_input");

    var options = {
        getValue: "name",
        template: {
		type: "custom",
		method: function(value, item) {
      if (item.price==undefined) {
        return item.name;
      }
			return `
        <div style='overflow: auto;'>
          <img style='float:right;' src='${item.image}'/>
          ${encodeHTML(item.name)}
          <br/>
          ${item.price} Ft
        </div>`;
		}
	
    
	},
        url: function(phrase){
          return "/index_search?index_phrase="+phrase
        },
        categories: [
            {   
                listLocation: "goods",
                header: "<strong>Termékek<strong>"
            }, 
            {   
                listLocation: "tags",
                header: "<strong>Cimke<strong>"           
             }
        ],

       
        list: {
          onChooseEvent: function(){

            var url=index_input.getSelectedItemData().url
            
            index_input.val("");
            Turbolinks.visit(url)
            
           
          }
        }
      }

    index_input.easyAutocomplete(options);
});
</script>
<div uk-grid>
    <div class="uk-width-1-4@m">Reklám hely</div>
    <div id="main" class="uk-width-1-2@m" class="uk-background-cover">
        <%= form_tag filter_index_get_path, method: :get, id: "index_form", class: "uk-search uk-search-default uk-search-navbar uk-align-center uk-position-center uk-search-large uk-background-muted"  do %>
            <input name="searched_phrase" id="index_input" class="uk-search-input uk-width-1" type="search" placeholder="Keresés...">
            
            <button id="index_search_button" type="submit" form="index_form" class="uk-search-icon-flip" uk-search-icon></button>
        <% end %>
    </div>
    <div class="uk-width-1-4@m">Reklám hely</div>
</div>
