<h1> Jelenlegi termékek </h1>

<% if @goods.blank? %>
  <p> Nincs termék. </p>
<% else %>
<%= render 'searchbar' %>
  <table> 
    <% @goods.each do |g| %>
    <tr>
      <td><%= link_to g.name, good_path(g) %></td>
    </tr>
    <% end %>
 </table> 
 <p><%= link_to 'Vissza', {action: 'landing'} %></p>

 <% end %>
