<div uk-grid>
    <div class="uk-width-1-4@m">Reklám hely</div>
    <div class="uk-width-1-2@m">
      <% if Good.all.order(name: :asc, created_at: :desc) == @goods %>
        <%= render 'for_u' %>
      <% end %>
      <%= render partial:'list',object:@goods %>
    </div>
    <div class="uk-width-1-4@m">Reklám hely</div>
</div>