<div uk-grid>
    <div class="uk-width-1-4@m">Reklám hely</div>
    <div class="uk-width-1-2@m">
      <%= render 'for_u' %>
      <%= render partial:'list',object:@goods %>
    </div>
    <div class="uk-width-1-4@m">Reklám hely</div>
</div>