

<div data-uk-dropdown>

  <button class="uk-button"> Válassz a sablonok közül <i class="uk-icon-caret-down"></i></button>
    

    <div class="uk-dropdown uk-dropdown-scrollable">

    <% @products.each do |product| %>
      
      <%=render partial:'listelement', object:product %>
    <% end %>
    </div>
   
</div>
