<%# <div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui inverted section divider"></div>
    <a href="http://kir-dev.sch.bme.hu" target="_blank">
      <img class="ui centered mini image" src="/images/kirdev.png">
    </a>
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="https://www.facebook.com/schorpong/">
        <i class="icon facebook"></i>Schörpong
      </a>
      <a class="item" href="mailto:schorpong@sch.bme.hu">
        <i class="icon mail"></i>schorpong@sch.bme.hu
      </a>
    </div>
    <div class="ui inverted section"></div>
  </div>
</div> %>


    <div class="uk-background-primary uk-position-bottom">
      <h1 class="">Footer</h1>
    </div>
   

<div class="uk-background-primary uk-position-bottom">
  <div class="ui center aligned container">
    <div class="ui inverted section divider"></div>
    <a href="http://kir-dev.sch.bme.hu" target="_blank">
    <%=image_tag "kirdev.png"%>
    </a>
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="https://www.facebook.com/schorpong/">
        <i class="icon facebook"></i>Schörpong
      </a>
      <a class="item" href="mailto:schorpong@sch.bme.hu">
        <i class="icon mail"></i>schorpong@sch.bme.hu
      </a>
    </div>
    <div class="ui inverted section"></div>
  </div>
</div>